.navbar{
    background-color: #F57B09;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnDetail{
    cursor: pointer;
    color: #F57B09;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 2vw;
    border: 1px solid transparent;
    transition: .4s ease-in-out;
    border-radius: 5px;
}

.btnDetail:hover{
    color: white;
    background-color: #F57B09;
    border: 1px solid white;
}

.btnCar:hover{
    background-color: white  !important;
}